@{
    ViewData["Title"] = "Add";
}

<h1>Add friend</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Friend" asp-action="Add">
            <div class="text-danger"></div>
            <div class="form-group">
                <label for="login" class="control-label">Name</label>
                <input name="login" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Friend" asp-action="List">Back to List</a>
</div>