
@{
    ViewData["Title"] = "Import";
}

<h1>Import</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Friend" asp-action="Import" method="post" enctype="multipart/form-data">
            <div class="text-danger"></div>
            <div class="form-group">
                <label for="postedFile" class="control-label">Filename</label>
                <input type="file" id="myFile" name="postedFile" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Import" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>