@model MiniSocialNetwork.Models.User
@{
    ViewData["Title"] = "List";
}

<h1>Hi @Model.Login</h1>
<h4>Your friends</h4>
<table style="text-align:center">
    <tr>
        <td>
            <form asp-controller="Friend" asp-action="Import" method="post" enctype="multipart/form-data" style="float:left;">
                <label for="postedFile"></label>
                <input type="file" id="myFile" name="postedFile" />
                <input type="submit" value="Import" />
            </form>
        </td>
        <td>
            <form asp-controller="Friend" asp-action="Export" method="post" style="float:right;">
                <input type="submit" value="Export" />
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form asp-controller="Friend" asp-action="Add">
                <label for="login">Name</label>
                <input name="login"/>
                <input type="submit" value="Add"/>
            </form>
        </td>

    </tr>
</table>


<table class="table">
    <thead>
        <tr>
            <th>
                Friend name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Friends)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item)
        </td>
                    <td>
            
                        <form asp-controller="Friend" asp-action="Delete" asp-route-login="@item">
                            <input type="submit" value="Delete" class="btn btn-danger"/>
                        </form>
                    </td>
    </tr>
}
    </tbody>
</table>

