@model MiniSocialNetwork.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

@{
    var login = ViewBag.Login;
}
<h3>Are you sure you want to delete user with login "@login" ?</h3>

<div>
    <form asp-controller="User" asp-action="Delete" asp-route-login="@login">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
